.main-info {
  padding: 48px 0;

  &__block {
    margin: 40px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_buy {
      margin-top: 72px;
      text-align: center;
    }
  }

  &__title {
    margin: 24px 0;
    font-weight: 900;
    font-size: 36px;
    line-height: 150%;
    color: #107cc0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__paragraph {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #494949;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-question {
      display: inline-block;
      width: 100%;
      font-weight: 700;
      line-height: 200%;
    }
  }

  &__buy {
    &-button {
      padding: 16px 24px;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: #fff;
      border: 2px solid #107cc0;
      border-radius: 8px;
      background-color: #107cc0;
      transition: background-color ease-in-out 0.1s;
      cursor: pointer;

      &:hover {
        background-color: #0e6da9;
      }

      &:active {
        background-color: #0a5d90;
      }
    }
  }
}
